<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hichampc.bkam_android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/bkam_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ma.bkam.android.Accueil"
            android:label="@string/title_activity_accueil" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ma.bkam.android.BankMaghrib"
            android:label="@string/title_activity_bank_maghrib" >
        </activity>
        <activity
            android:name=".ma.bkam.android.PoletiqueMonetique"
            android:label="@string/title_activity_poletique_monetique" >
        </activity>
        <activity
            android:name=".ma.bkam.android.SupervisionBancaire"
            android:label="@string/title_activity_supervision_bancaire" >
        </activity>
        <activity
            android:name=".ma.bkam.android.MoyenPaiement"
            android:label="@string/title_activity_moyen_paiement" >
        </activity>
        <activity
            android:name=".ma.bkam.android.BilletMonnaie"
            android:label="@string/title_activity_billet_monnaie" >
        </activity>
        <activity
            android:name=".ma.bkam.android.Reglementation"
            android:label="@string/title_activity_reglementation" >
        </activity>
        <activity
            android:name=".ma.bkam.android.StatistiqueMonetaire"
            android:label="@string/title_activity_statistique_monetaire" >
        </activity>
    </application>

</manifest>
